@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --blue: #243E90;
    --orange: #F47D26;
    --gray: #979797;
    --white: #FFFFFF;
    --red: #DF2935;
    --green: #566E3D;
    --teal: #0F7173;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 2.5em;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 1.5em;
}

label, input, button, p {
    font-size: 1.25em;
}

button {
    border-radius: 8px;
    border: none;
    padding: 8px;
    background-color: var(--orange);
    color: var(--white);
    margin-bottom: 1em;
}

button {
    transition: box-shadow ease 0.25s;
}

button:hover:not([disabled]) {
    box-shadow: 0 0 0.6em rgb(0, 0, 0, 0.4);
}

#redeemButton {
    background-color: var(--teal);
}

#title {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: bold;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
    height: 100px;
    width: 100vw;
}

#headerOptions {
    position: absolute;
    text-align: right;
    right: 1em;
}

#headerOptions > p {
    cursor: pointer;
}

#headerOptions > p:hover {
    text-decoration: underline;
}

#content {
    padding: 1em;
}

.wrapper {
    margin-bottom: 2em;
    padding: 0 3em;
}

.cardDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.infoDiv > .infoDescription {
    width: 400px;
    padding-left: 16px;
    color: black;
    text-align: left;
    margin: 1em 0;
}

#cardDescription > p, #cardDescription > div > p {
    margin: 8px;
}

.infoDiv {
    width: 550px;
    height: 100vh;
    background-color: var(--white);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    text-align: center;
}

.infoDiv > button {
    width: 450px;
}

.fullCard {
    width: 400px;
    height: 250px;
    color: var(--white);
    border-radius: 25px;
    padding: 10px;
}

.fullCard > h3 {
    font-size: 2em;
}

.fullCard > h4 {
    font-size: 1.5em;
    margin-top: -1em;
}

.fullCard > p {
    font-size: 2em;
}

.rewardDescription > h3 {
    font-size: 2em;
    text-align: center;
}

.rewardDescription > p:nth-child(2) {
    text-align: center;
    color: var(--gray);
    margin-top: -1em;
}

#blanketDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    position: fixed;
    width: 100vw;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    opacity: 0;
    z-index: -1;
    transition: opacity ease 0.5s;
}

#blanketDiv.active {
    opacity: 1;
}

.card {
    position: relative;
    top: 0;
    width: 200px;
    height: 125px;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    color: var(--white);
    transition: top ease 0.25s, box-shadow ease 0.25s;
    cursor: pointer;
    margin-right: 1em;
}

.card:hover {
    box-shadow: 0 0 0.6em rgb(0, 0, 0, 0.4);
    top: -5px;
}

.creditCard {
    background-color: var(--blue);
}

.debitCard {
    background-color: var(--orange);
}

.rewardCard {
    background-color: var(--green);
}

.redeemedRewardCard {
    background-color: var(--teal);
}